@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter;
}

.icon {
  font-size: 1.5rem;
}

p {
  font-size: 0.9rem;
}

.title {
  font-family: Epilogue, Inter;
  font-weight: 300;
  font-size: 1.5rem;
}

h1 {
  font-weight: medium;
}

h1 {
  font-size: 2rem;
}

.active {
  background-color: #112d4e;
  color: #f9f7f7;
}

.active.title {
  background-color: transparent;
  color: #112d4e;
}

.sidebar {
  transition: 0.1s ease-in-out;
}
