@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter;
}

.title {
  font-family: Epilogue, Inter;
  font-weight: 300;
  font-size: 1.5rem;
}

.active.title {
  background-color: transparent;
  color: #112d4e;
}

.sidebar {
  transition: 0.1s ease-in-out;
}
